@import "tailwindcss";

.custom-blue-header .ant-table-thead > tr > th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 32px !important;
  background-color: #007bff !important;
  color: white !important;
}

.ant-table-wrapper .ant-table-container {
  overflow-x: auto;
}

.ant-table-wrapper .ant-table {
  min-width: 100%;
}

.ant-table-cell-scrollbar {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}
